@model IEnumerable<Author>

<a class="btn btn-success mb-2" asp-controller="Author" asp-action="Create">Create new author</a>

<div class="row">

    @foreach (var author in Model)
    {
        @Html.Partial("AuthorPartial", author);
    }

</div>
